@font-face{
	font-family:'Droid-Naskh';
	font-style:normal;
	font-weight:400;
	src: url('../font/DroidNaskh-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans/OpenSans-Regular-webfont.eot');
	src: url('../font/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../font/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../font/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans/OpenSans-Semibold-webfont.eot');
	src: url('../font/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../font/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../font/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans/OpenSans-Italic-webfont.eot');
	src: url('../font/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/OpenSans/OpenSans-Italic-webfont.woff') format('woff'),
	url('../font/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'),
	url('../font/OpenSans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

* {
	outline: none!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	border: 0;
}

body {
	background-color: #F6F6F4;
	padding: 0;
	color: #2d2d2d;
	margin: 0 0 20px 0;
	font-size: 12px;
	font-family: 'Open Sans', 'Droid-Naskh', Sans-serif;
}

::selection {
	background-color: #b2cce6;
}
::-moz-selection {
	background-color: #b2cce6;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-transition: all ease 0.5s;
}
::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active {
	box-shadow: inset #bbb 0 0 6px;
}
::-webkit-scrollbar-thumb {
	/*background-color: #888;*/
	background-color: white;
	box-shadow: inset #109100 0 0 20px -2px;
	position: relative;
	margin: 0;
	border-radius: 5px;
}

input, select {
	font-family: 'Open Sans', 'Droid-Naskh', Sans-serif;
}

a {
	color: #2d2d2d;
}

span.anchor {
	cursor: pointer;
	color: #2d2d2d;
}

code {
	border-radius: 3px;
	padding: 0 3px;
	border: 1px solid #DDD;
	background-color: #FAFAFA;
}

pre code {
	border: none;
	padding: 0;
	background-color: rgba(0,0,0,0);
}

textarea {
	font-size: 12px;
}

blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
	margin: 10px;
}

.clear {
	clear: both !important;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.full-width {
	width: 100%;
}

.space-left {
	margin-left: 7px!important;
}

/********************************************/
div#top_bar {
	top: 0;
	left: 0;
	padding: 0;
	z-index: 5;
	width: 100%;
	height: 55px;
	color: #f0f0f0;
	position: fixed;
	font-size: 12px;
	border-bottom:5px solid #000;
	background-color: #373737;
}

div#top_bar a {
	text-decoration: none;
}

div#top_bar>div>a {
	color: white;
}

div#shj_logo {
	height: 100%;
	float: left;
	padding-right: 10px;
	margin-left: 5px;
	display: inline-block;
}

div#shj_logo a {
	display: block;
	height: 100%;
	padding:8px 0;
}

div#shj_logo img {
	float:left;
	width: 32px;
	height: 32px;
	margin:0 10px;
}

div#shj_logo h1.shjlogo-text {
	color:#FFF;
	display:inline-block;
	margin:0;
}

div#shj_logo h1.shjlogo-text span {
	color:#FFF;
	display:inline-block;
	margin:0;
	font-weight:normal;
}

div.top_object {
	float: right;
	height: 50px;
	position: relative;
	display: inline-block;
	padding: 0 25px;
	line-height: 50px;
}

div.top_object.top_left, div.top_left {
	float: left;
}

div.top_object.shj_menu {
	cursor: pointer;
}

div.top_object.shj_white, div.top_object.shj_white>a {
	background-color: #272727;

}

div.countdown {
	padding: 0 8px;
	background-color:#27ae60;
}

div.time_block {
	line-height: 1;
	float: left;
	text-align: center;
	padding: 11px 2px;
}

span.countdown_num {
	font-size:16px;
}

span.time_label {
	font-size: 70%;
}

.top_menu {
	top: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #FFF;
	cursor: auto;
	display: none;
	font-size: 12px;
	position: absolute;
	background-color: #373737;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.top_menu li {
	white-space: nowrap;
	margin: 0;
	padding: 0 8px;
}

.top_menu a {
	color:#FFF;
	line-height: 40px;
	padding:0 10px;
	display: block;
}

div.top_object.top_left .top_menu{
	left: 0;
}

.top_menu > li:nth-child(1) {
	border-left:6px solid #078e10;
}

.top_menu > li:nth-child(6) {
	border-left:6px solid #e67e22;
}

.top_menu > li:nth-child(7) {
	border-left:6px solid #f1c40f;
}

.top_menu > li:nth-child(3) {
	border-left:6px solid #3498db;
}

.top_menu > li:nth-child(4) {
	border-left:6px solid #9b59b6;
}

.top_menu > li:nth-child(5) {
	border-left:6px solid #db3252;
}

.top_menu > li:nth-child(2) {
	border-left:6px solid #2bb9a6;
}

.top_menu > li:nth-child(8) {
	border-left:6px solid #bbf996;
}

.top_menu > li:hover {
	background-color: #464646;
}

div#extra_time {
	display: none;
	background-color: #c0392b;
}

div#extra_time .time_block {
	padding:6px 2px;
}

div#extra_time span {
	line-height: 19px;
	font-weight: bold;
}

div#extra_time i {
	float: left;
	line-height: 50px;
	margin-right: 6px;
}

#profile_link i {
	font-size:20px;
	line-height:52px;
}

.user-menu {
	right: 0;
	width:300px;
	max-height:90px!important;
}

.user-menu > div {
	display:inline-block!important;
	height:42px!important;
	line-height:30px!important;
	border:none!important;
}

.user-menu > div:hover {
	background-color: transparent!important;
}

.user-menu > .gravatar {
	display:inline-block;
	float:right;
	width:70px;
	margin:10px 10px 10px 0;
	height:70px!important;
	background-color: #EEE;
	background-image: url('../images/default-avatar.png');
}

.user-menu > .name {
	display:inline-block;
	width:205px;
	padding:0 10px;
	text-align: left;
	font-size:20px;
	height:30px!important;
	line-height:30px!important;
	margin:5px 0 0 5px!important;
	font-weight:bold;
}

.user-menu > .gravatar img {
	display:inline-block;
	outline:3px solid #DDD!important;
}

.menu-controls a.profile-btn, .menu-controls a.logout-btn {
	font-size:13px;
	width:101px;
	text-align:center;
	background-color: #27ae60;
	display:inline-block!important;
}

.menu-controls a.logout-btn {
	background-color: #2980b9;
	margin-left:5px;
}

.menu-controls {
	float:left;
	margin-top:-5px;
}


/*********************************************/

/* sidebar colors */

.color1 {color: #C52E26!important;}
.color2 {color: #EE3A23!important;}
.color3 {color: #FAA31B!important;}
.color4 {color: #FAE80B!important;}
.color5 {color: #CCDB29!important;}
.color6 {color: #0DB297!important;}
.color7 {color: #35C0CB!important;}
.color8 {color: #22478A!important;}
.color9 {color: #543680!important;}
.color10 {color: #991B4A!important;}
.color11 {color: #439427 !important;}
.color12 {color: #3f78ba !important;}

.color-dashboard {border-color: #C52E26!important;}
.color-settings {border-color: #EE3A23!important;}
.color-users {border-color: #FAA31B!important;}
.color-notifications {border-color: #FAE80B!important;}
.color-assignments {border-color: #CCDB29!important;}
.color-problems {border-color: #0DB297!important;}
.color-submit {border-color: #35C0CB!important;}
.color-final_submissions {border-color: #22478A!important;}
.color-all_submissions {border-color: #543680!important;}
.color-scoreboard {border-color: #991B4A!important;}

.color-dashboard.selected i {background-color: #C52E26!important;border-color: #C52E26!important;}
.color-settings.selected i {background-color: #EE3A23!important;border-color: #EE3A23!important;}
.color-users.selected i {background-color: #FAA31B!important;border-color: #FAA31B!important;}
.color-notifications.selected i {background-color: #FAE80B!important;border-color: #FAE80B!important;}
.color-assignments.selected i {background-color: #CCDB29!important;border-color: #CCDB29!important;}
.color-problems.selected i {background-color: #0DB297!important;border-color: #0DB297!important;}
.color-submit.selected i {background-color: #35C0CB!important;border-color: #35C0CB!important;}
.color-final_submissions.selected i {background-color: #22478A!important;border-color: #22478A!important;}
.color-all_submissions.selected i {background-color: #543680!important;border-color: #543680!important;}
.color-scoreboard.selected i {background-color: #991B4A!important;border-color: #991B4A!important;}

div#side_bar {
	color:#595959;
	position: fixed;
	left: 0;
	top: 55px;
	width: 160px;
	bottom: 0;
	z-index: 1;
	background-color:#F2F2EA;
	box-shadow: #a9a9a9 0 0 4px;
	-moz-box-shadow: #a9a9a9 0 0 4px;
	-webkit-box-shadow: #a9a9a9 0 0 4px;
}

div#side_bar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
}

div#side_bar ul li:hover i {
	background-color: #FAFAFA;
}

div#side_bar ul li.selected {
	font-weight: bold;
}

div#side_bar ul li.selected i {
	color: #FFF;
}

.sidebar_text {
	width: 124px;
	position: absolute;
	padding-left:8px;
	border-bottom:1px solid #EAEADE;
}

div#side_bar ul li a {
	width: 100%;
	text-decoration: none;
	display: block;
	line-height: 40px;
	color:#595959!important;
}

div#side_bar i {
	vertical-align: 0;
	text-align: center;
	width: 43px;
	line-height: 40px;
	border-right:1px solid #EAEADE;
	border-bottom:1px solid #EAEADE;
}

div#side_bar ul li {
	border-left:5px solid black;
}

div#sidebar_bottom {
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 0;
	position: absolute;
}

div#sidebar_bottom p {
	font-size: 10px;
	margin: 0 0 7px 5px;
	width: 156px;
}

div#shj_collapse {
	border-top:1px solid #EAEADE;
	/*background-color: rgba(0, 0, 0, 0.1);
	box-shadow: rgba(0, 0, 0, 0.7) -1px 0 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) -1px 0 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.7) -1px 0 5px;*/
	/*padding: 7px 0 7px 9px;*/
}

div#shj_collapse i#collapse {
	width:48px;
}

div#shj_collapse span {
	line-height: 41px;
}

/*********************************************/

div#main_container {
	z-index: 0;
	color: #595959;
	position: absolute;
	top: 55px;
	left: 160px;
	background-color: #f6f6f4;
}

div#page_title {
	padding: 10px 20px;
	font-size: 20px;
	position: relative;
	background-color: #faf9f5;
	border-bottom: 1px solid #DDDAD0;
}

div#page_title:after, div#page_title:before {
	top: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div#page_title:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #faf9f5;
	border-width: 10px;
	margin-left: -10px;
}
div#page_title:before {
	border-color: rgba(221, 218, 208, 0);
	border-top-color: #DDDAD0;
	border-width: 11px;
	margin-left: -11px;
}

div#page_title > i + span {
	margin-left: 8px;
}

span.title_menu_item {
	font-size: 12px;
	margin-left: 10px;
	font-weight: normal;
}

div#page_title img {
	float: left;
	margin-right: 5px;
}

div#main_container div#main_content {
	padding: 7px 20px 20px 20px;
	overflow-x: auto;
}

/***********************************************/

.sharif_input {
	outline: none;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #b7b7b7;
	transition: box-shadow 200ms ease;
	-webkit-transition: box-shadow 200ms ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 1px;
}

.sharif_input:hover {
	border-color: #8d8d8d;
}

.sharif_input:focus {
	border-color: rgba(82, 168, 236, 0.6);
	box-shadow: rgba(82, 168, 236, 0.6) 0 0 5px;
	-moz-box-shadow: rgba(82, 168, 236, 0.6) 0 0 5px;
	-webkit-box-shadow: rgba(82, 168, 236, 0.6) 0 0 5px;
}

input.sharif_input:disabled {
	color: #aaa;
}

.long {
	width: 350px !important;
}

.medium {
	width: 225px !important;
}

.short {
	width: 100px !important;
}

.short2 {
	width: 170px !important;
}

.tiny {
	width: 65px !important;
}

.tiny2 {
	width: 55px !important;
}

.form_comment {
	display: inline-block;
	color: #828282;
	font-size: 11px;
	padding: 0;
	margin: 0;
}

h2.shj_form {
	width: 500px;
	margin-top: 30px;
	border-bottom: 1px solid #c7c7c7;
}

p.input_p {
	padding: 0;
	margin: 10px 6px 0 0;
}

p.input_p label {
	margin-top: 8px;
	width: 180px;
	float: left;
}

p.input_p label.default {
	float: none;
	width: auto;
	margin: 0;
}

p.input_p textarea {
	/*display: block;*/
}

.shj_error {
	color: red;
	font-size: 12px;
}

.shj_ok {
	color: green;
	font-size: 12px;
}

#codeigniter_profiler {
	z-index: -50;
}

select.sharif_time {
	width: 300px;
	font-size: 16px;
}

#select_assignment_menu i {
	vertical-align: top;
	color:#FFF;
	line-height:40px;
	font-size:20px;
	margin:0 8px 0 0;
}

#select_assignment_menu > li:last-child {
	text-align: center;
	background-color: #518aa3;
	line-height: normal;
}

#select_assignment_menu > li:last-child a {
	line-height: normal;
	padding: 5px;
}

.assignment_block {
	height: 40px;
	cursor: pointer;
}

.assignment_item {
	line-height:40px;
	vertical-align: top;
	display: inline-block;
}

/***************************************/

.pointer {
	cursor: pointer;
}

#problems_table {
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #a9a9a9;
}

#ui-datepicker-div {
	font-size: 11px !important;
}

/********************************************/

.sharif_table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.sharif_table tr.hl {
	background-color: #E0E0E0;
}

.sharif_table tr {
	background-color: #fcfcfc;
}

.sharif_table tr:hover {
	background-color: #f0f0f0;
}

.sharif_table td, .sharif_table th {
	border-left: 1px solid #AFAFAF;
	border-top: 1px solid #AFAFAF;
	padding: 3px 5px;
	text-align: center;
}

.sharif_table td {
	height: 42px;
}

.rank td, .rank th {
	padding: 2px;
}

.sharif_table th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.sharif_table td:first-child, .sharif_table th:first-child {
	border-left: none;
}

.sharif_table th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.sharif_table th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.sharif_table th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.sharif_table tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.sharif_table tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.sharif_table th.score {
	border-radius: 0;
	border-top: 1px solid #AFAFAF;
	border-left: 1px solid #AFAFAF;
}

/************* Buttons *************************/

.btn {
	outline: none;
	border: none;
	background: none;
	display: inline-block;
	color: #4D4D4D;
	cursor: pointer;
	font-size: 12px;
	padding: 0.5em 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	/*border: 1px solid #C7C7C7;*/
	background: #E0E0E0;
	background: -moz-linear-gradient(top, #E0E0E0 1%, #C7C7C7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #E0E0E0), color-stop(100%, #C7C7C7));
	background: -webkit-linear-gradient(top, #E0E0E0 1%, #C7C7C7 100%);
	background: -o-linear-gradient(top, #E0E0E0 1%, #C7C7C7 100%);
	background: -ms-linear-gradient(top, #E0E0E0 1%, #C7C7C7 100%);
	background: linear-gradient(to bottom, #E0E0E0 1%, #C7C7C7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#C7C7C7', GradientType=0);
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
	-moz-box-shadow: 0 1px 3px rgba(000, 000, 000, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 1px 3px rgba(000, 000, 000, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 3px rgba(000, 000, 000, 0.5), inset 0 0px 2px rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.btn:hover {
	color: #4D4D4D;
	text-decoration: none;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: #C7C7C7;
	background: -moz-linear-gradient(top, #E0E0E0 1%, #D4D4D4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #E0E0E0), color-stop(100%, #D4D4D4));
	background: -webkit-linear-gradient(top, #E0E0E0 1%, #D4D4D4 100%);
	background: -o-linear-gradient(top, #E0E0E0 1%, #D4D4D4 100%);
	background: -ms-linear-gradient(top, #E0E0E0 1%, #D4D4D4 100%);
	background: linear-gradient(to bottom, #E0E0E0 1%, #D4D4D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#D4D4D4', GradientType=0);
}

.btn:active {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.btn.shj-green:hover, .btn.shj-red:hover, .btn.shj-blue:hover, .btn.shj-orange:hover {
	color: #FFF;
	text-decoration: none;
}

a.btn {
	text-decoration: none;
}

/*#####################
##       compilation      ##
#####################*/
.btn.shj-blue {
	color: #FFF;
	/*border: 1px solid #5269C7;*/
	background: -moz-linear-gradient(center top, #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -webkit-linear-gradient(center top, #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(center top, #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -ms-linear-gradient(center top, #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#303CFF), to(#0019AB));
	background: linear-gradient(to bottom, #303CFF 0%, #0019AB 100%);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.btn.shj-blue:hover {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #303CFF 0%, #001cd0);
	background: -webkit-gradient(linear, left top, left bottom, from(#303CFF), to(#001bd0));
}

.btn.shj-blue:active {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	-webkit-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
}

/*#####################
##        OK         ##
#####################*/
.btn.shj-green {
	color: #FFF;
	/*border: 1px solid #5eb700;*/
	background: #50FF19;
	background: -moz-linear-gradient(top, #50FF19 0%, #15AB00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50FF19), color-stop(100%, #15AB00));
	background: -webkit-linear-gradient(top, #50FF19 0%, #15AB00 100%);
	background: -o-linear-gradient(top, #50FF19 0%, #15AB00 100%);
	background: -ms-linear-gradient(top, #50FF19 0%, #15AB00 100%);
	background: linear-gradient(to bottom, #50FF19 0%, #15AB00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ec673', endColorstr='#5eb700', GradientType=0);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.btn.shj-green:hover {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #50FF19 0%, #16d000);
	background: -webkit-gradient(linear, left top, left bottom, from(#50FF19), to(#15d000));
}

.btn.shj-green:active {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	-webkit-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
}

/*#####################
##       wrong       ##
#####################*/
.btn.shj-red {
	color: #FFF;
	/*border: 1px solid #B70000;*/
	background: #ff2819;
	background: -moz-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2819), color-stop(100%, #ab0000));
	background: -webkit-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: -o-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: -ms-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: linear-gradient(to bottom, #ff2819 0%, #ab0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C75A5A', endColorstr='#B70000', GradientType=0);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.btn.shj-red:hover {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #ff2819 0%, #d00000);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff2819), to(#d00000));
}

.btn.shj-red:active {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.25);
	-webkit-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.25);
	box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.25);
}

/*#####################
##      view_code      ##
#####################*/
.btn.shj-orange {
	color: #FFF;
	/*border: 1px solid #FF9D00;*/
	background: #FFA300;
	background: -moz-linear-gradient(top, #FFA300 0%, #E76600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA300), color-stop(100%, #E76600));
	background: -webkit-linear-gradient(top, #FFA300 0%, #E76600 100%);
	background: -o-linear-gradient(top, #FFA300 0%, #E76600 100%);
	background: -ms-linear-gradient(top, #FFA300 0%, #E76600 100%);
	background: linear-gradient(to bottom, #FFA300 0%, #E76600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb845', endColorstr='#ff9d00', GradientType=0);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.btn.shj-orange:hover {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #FFA300 0%, #ff6d00);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA300), to(#ff7100));
}

.btn.shj-orange:active {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	-webkit-box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
	box-shadow: inset 0 2px 5px rgba(000, 000, 000, 0.15);
}

/*****************************************************************/

.panel_right {
	margin-left: 10px;
	float: left;
}

.panel_left {
	float: left;
}

#add_problems {
	clear: left;
	padding-top: 10px;
}

textarea.add_text {
	display: inline-block;
	font-size: 10px;
	width: 410px;
}

pre, .shj_code {
	background-color: white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 0 10px -2px #AAA;
	-moz-box-shadow: 0 0 10px -2px #AAA;
	-webkit-box-shadow: 0 0 10px -2px #AAA;
	margin: 10px 0;
	padding: 7px;
	max-height: 500px;
	overflow: auto;
}

.shj_o {
	color: #ff5f00;
}

.shj_b {
	color: blue;
}

.shj_r {
	color: #b20000;
}

.shj_g {
	color: green;
}

.tiny_text {
	font-size: 9px;
	opacity: 0.6;
}

.tiny_text_b {
	font-size: 11px;
	opacity: 0.9;
}

/** pagination **/

ul.shj_pagination {
	color: #005580;
	display: inline-block;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.shj_pagination li {
	display: inline;
}

ul.shj_pagination li.current_page>a, ul.shj_pagination li.current_page>span {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: #f3f3f3;
}

ul.shj_pagination li>a:hover {
	background-color: #EBEBEB;
}

ul.shj_pagination li:first-child>a, ul.shj_pagination li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

ul.shj_pagination li:last-child>a, ul.shj_pagination li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

ul.shj_pagination li>a, ul.shj_pagination li>span {
	color: #005580;
	float: left;
	padding: 4px 12px 1px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #AFAFAF;
	border-left-width: 0;
}


/******* Dashboard *******/

.shj_widget {
	width: 350px;
	height: 350px;
	background-color: white;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px -2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px -2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px -2px;
}


.widget_title {
	cursor: default;
	line-height: 30px;
	padding: 0 6px 0 10px;
	border-bottom: 1px solid #e3e3e3;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f1f1f1));
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #f1f1f1 100%);
	background: -o-linear-gradient(top, #fbfbfb 0%, #f1f1f1 100%);
	background: -ms-linear-gradient(top, #fbfbfb 0%, #f1f1f1 100%);
	background: linear-gradient(top, #fbfbfb 0%, #f1f1f1 100%);
}

.widget_title i {
	vertical-align: 0;
	margin-right: 4px;
}

.gridster>ul>li {
	list-style: none;
	text-align: inherit;
}

#calendar {
	width: 350px;
	padding: 10px;
}


div.widget_scrollable {
	position: absolute;
	top: 30px;
	padding:0 4px;
}


/******* notifications ************/

div.notif {
	padding: 7px;
	border-bottom: 1px solid #CCC;
}

div#main_content > div.notif {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin: 20px 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px -2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px -2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px -2px;
}

div#main_content > div.notif > div.notif_title {
	border-bottom: 1px solid #bbb;
}

div.notif_title {
	font-size: 12px;
	padding: 0 5px 0 5px;
	font-weight: bold;
	margin-bottom: 5px;
}

div.notif_title a {
	text-decoration: none;
}

.notif_meta {
	margin-top: 5px;
	font-size: 10px;
	color: #b4b4b4;
}

span.notif_meta {
	padding: 0 5px;
}

div.notif_text {
	padding:0 5px;
	overflow: hidden;
}

div.notif_text.latest {
	max-height: 34px;
}


/*  problems page */

div#right_sidebar {
	position: absolute;
	right: 20px;
	width: 220px;
}

div.problems_widget {
	background-color: #FCFCFC;
	border: 2px dashed #DDD;
	box-shadow: 0 0 6px -2px #AAA;
	-moz-box-shadow: 0 0 6px -2px #AAA;
	-webkit-box-shadow: 0 0 6px -2px #AAA;
	margin: 15px 0 15px 15px;
	padding: 10px;
	overflow: auto;
}

div.problems_widget p{
	margin: 0 0 5px 0;
}

div.problems_widget table td{
	height: 30px;
}

div#main_container .problem_description {
	position: absolute;
	right: 245px;
	left: 20px;
	text-align: justify;
	font-size: 13px;
	line-height: 1.5;
}

.problem_description pre {
	font-size: 12px;
	line-height: normal;
}

div#md_div {
	margin-right: 235px;
}

div#md_div textarea {
	width: 100%;
}

div.md_cheatsheet {
	width: 220px;
	font-size : 75%;
}

div .md_cheatsheet h2, div .md_cheatsheet h3 {
	margin: 15px 0 0 0;
}

div.md_cheatsheet pre{
	padding: 5px;
}

div.md_cheatsheet p{
	margin: 0;
}