{#
 # Sharif Judge
 # file: profile.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected='users' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-user{% endblock %}
{% block title %}Profile{% endblock %}
{% block head_title %}Profile{% endblock %}



{% block main_content %}
<p class="input_p">
{% if form_status == 'ok' %}
<div class="shj_ok">Profile updated successfully.</div>
{% elseif form_status == 'error' %}
	<div class="shj_error">Error updating profile.</div>
{% endif %}
</p>
{{ form_open('profile/'~id) }}
<p class="input_p clear">
	<label for="form_username" class="short2">Username:<br>
		<span class="form_comment">You cannot change username.</span>
	</label>
	<input id="form_username" type="text" name="username" class="sharif_input medium" value="{{ edit_username }}"  disabled/>
</p>
<p class="input_p clear">
	<label for="form_name" class="short2">Name:</label>
	<input id="form_name" type="text" name="display_name" class="sharif_input medium" value="{{ display_name }}"/>
	{{ form_error('display_name', '<div class="shj_error">', '</div>') }}
</p>
<p class="input_p clear">
	<label for="form_email" class="short2">Email:</label>
	<input id="form_email" type="text" name="email" class="sharif_input medium" value="{{ email }}"/>
	{{ form_error('email', '<div class="shj_error">', '</div>') }}
</p>
<p class="input_p clear">
	<label for="form_password" class="short2">Password:<br>
		<span class="form_comment">If you don't want to change password, leave this blank.</span>
	</label>
	<input id="form_password" type="password" name="password" class="sharif_input medium"/>
	{{ form_error('password', '<br><span class="shj_error">', '</span>') }}
</p>
<p class="input_p clear">
	<label for="form_password_2" class="short2">Password, Again:</label>
	<input id="form_password_2" type="password" name="password_again" class="sharif_input medium"/>
	{{ form_error('password_again', '<div class="shj_error">', '</div>') }}
</p>
{% if user.level == 3 %}
<p class="input_p clear">
	<label for="form_role" class="short2">User Role:</label>
	<select id="form_role" name="role" class="sharif_input">
		<option value="admin" {{ role=='admin' ? 'selected="selected"' }} >admin</option>
		<option value="head_instructor" {{ role=='head_instructor' ? 'selected="selected"' }} >head_instructor</option>
		<option value="instructor" {{ role=='instructor' ? 'selected="selected"' }} >instructor</option>
		<option value="student" {{ role=='student' ? 'selected="selected"' }} >student</option>
		<option value="701" {{ role=='701' ? 'selected="701"' }} >701</option>
		<option value="702" {{ role=='702' ? 'selected="702"' }} >702</option>
		<option value="703" {{ role=='703' ? 'selected="703"' }} >703</option>
		<option value="704" {{ role=='704' ? 'selected="704"' }} >704</option>
		<option value="801" {{ role=='801' ? 'selected="801"' }} >801</option>
		<option value="802" {{ role=='802' ? 'selected="802"' }} >802</option>
		<option value="803" {{ role=='803' ? 'selected="803"' }} >803</option>
		<option value="804" {{ role=='804' ? 'selected="804"' }} >804</option>
		<option value="901" {{ role=='901' ? 'selected="901"' }} >901</option>
		<option value="902" {{ role=='902' ? 'selected="902"' }} >902</option>
		<option value="903" {{ role=='903' ? 'selected="903"' }} >903</option>
		<option value="904" {{ role=='904' ? 'selected="904"' }} >904</option>
	</select>
	{{ form_error('role', '<div class="shj_error">', '</div>') }}
</p>
{% endif %}
<p class="input_p">
	<input type="submit" value="Save" class="sharif_input"/>
</p>
</form>
{% endblock %}  {# main_content #}